<mat-tab-group class="m2">
  <mat-tab label="Setting">
    <div class="m2">
      <h2>Better keep one eye open tonight!</h2>

      <p>
        For a few weeks now, you and your fellow villagers have been finding dead animals in the
        woods randomly around your village. Someone or something is out for blood every night
        and there are no sign as to how this has been happening...
      </p>

      <p>
        This morning, the eldest of the village has made a report of a chilling sighting. She swears
        to have seen what everyone has been afraid of: <b>Werewolves!</b>
      </p>

      <p>
        After some panicked hours of discussion, you have made a foolproof plan: Tonight, everyone
        will stay up and be on the lookout for any suspicious activity. Tomorrow morning, you will vote
        on a suspicious villager and try to scare the other werewolves away. The lives of the whole
        village depend on it.
      </p>

      <p>
        No one thinks of it, only the village's youngest asks: "But if I am awake tonight, won't you all
        think that I might be a werewolf?". He's right. Will you be able to sleep or will you try to find
        the evil and risk your own life in the process?
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Requirements">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Players
          </mat-panel-title>
          <mat-panel-description>
            Who can play with whom?
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          You can play <i>Werewolves - Dawn</i> with <b>3-10</b> players at the same time.
          It is possible to have a game leader (a player or extra person) narrate your
          group through the game flow (like in the real game) or just follow the instructions
          on the screen.
        </p>

        <p>
          For a better immersion, you might want to adapt the back story to your group to
          fit the group dynamic.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Location & Communication
          </mat-panel-title>
          <mat-panel-description>
            Can we play in the same room?
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          In order to play <i>Werewolves - Dawn</i> like it is intended to and make it fun
          for all players, you will have to be able to talk to each other. You can either
          be in the same room looking at your own screen or play in a online meeting.
        </p>

        <p>
          Don't have a meeting yet? Try
          <a href="https://zoom.us/" target="_blank" rel="noopener noreferrer">Zoom</a>,
          <a href="https://meet.google.com/" target="_blank" rel="noopener noreferrer">Google Meet</a> or
          <a href="https://www.join.me" target="_blank" rel="noopener noreferrer">Join</a>
        </p>

        <p>
          <b>Attention:</b> This game is based on deception. If you can see each other doing something
          you might not want to be seen doing, you will give your role away and not have fun. It might
          be useful to <u>turn your camera and microphone off</u> during the round's night and turn it on again
          during the debate.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Knowledge
          </mat-panel-title>
          <mat-panel-description>
            Do I need to learn the game?
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          Just like all of these games, <i>Werewolves - Dawn</i> is more fun when you play with people,
          who know the game's nicks just as well as you do. You can play with new players, but you
          should explain the roles and game flow in detail beforehand. See the tabs 'How to play' and
          'roles' above.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
  <mat-tab label="How to play">
    <div class="m2">
      <h2>Set up</h2>
      <p>
        Before you can start a game, you have to choose the roles you want to play with.
        You should always have more role cards than players in the game. This way, each
        round has the added mystery of which roles have not been dealt.
      </p>

      <p>
        You can find some suggested scenarios and the required roles in the 'scenarios' tab.
      </p>

      <h2>Game flow</h2>
      <p>
        Each round of <i>Werewolves - Dawn</i> has the same game flow:
      </p>
      <ol>
        <li>
          At the beginning of each round, all players 'close their eyes' so they cannot see the moves of the other
          players. In the online game, this is not necessary, but experienced players might be able to recognize your
          physical body movements while clicking and reading.
          You might resolve this problem is some other way (turning off your camera, putting your head in your hands
          etc).
        </li>
        <li>
          During the night, each player plays out the action of his/her role. You can read the specific actions of each
          role in the 'roles' tab.
        </li>
        <li>
          After the village has slept through the night, all alive players can gather and debate who to vote out of the
          game. For this you have 5 minutes time (experienced players can lower this time limit). This completes the
          round
          and the winning players receive points for the survival of their species.
        </li>
      </ol>

      <h2>End of the round</h2>
      <p>
        The winners of each round are determined by the player who has been voted out at the village council. This
        allows
        for 3 possible scenarios.
      </p>
      <ul>
        <li>
          A werewolf has been voted out: The danger for your group has been averted and <b>the villagers win</b>.
        </li>
        <li>
          A villager has been voted out: The village people have been deceived and <b>the werewolves win</b>.
        </li>
        <li>
          Nobody has been voted out: If there have not been any werewolves (all werewolf cards are in the middle),
          <b>the villagers win</b>. If a werewolf survives, then <b>the werewolves win</b>.
        </li>
      </ul>
      <p>Each winning player receives 1 point. The player with the most points after the game wins it all!</p>
    </div>
  </mat-tab>
  <mat-tab label="Roles">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let role of roles">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ role.name }}
          </mat-panel-title>
          <mat-panel-description>
            <mat-chip-list>
              <mat-chip [color]="role.friendly ? 'primary': 'warn'" selected>
                {{role.friendly ? 'villager' : 'werewolf'}}
              </mat-chip>
            </mat-chip-list>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p><b>Order:</b> {{ role.order }} </p>
        <p><b>Description:</b> {{ role.description }} </p>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-tab>
  <mat-tab label="Scenarios">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let scenario of scenarios">
        <mat-expansion-panel-header>
          <mat-panel-title>{{scenario.name}}</mat-panel-title>
          <mat-panel-description>{{scenario.players}} players</mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{scenario.roles}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
</mat-tab-group>
